<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <title>Categories</title>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Home</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
        <li class="nav-item"><a href="/items" class="nav-link">Items</a></li>
        <li class="nav-item active"><a href="/categories" class="nav-link">Categories</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/expense/new">Expense</a>
            <a class="dropdown-item" href="/income/new">Income</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/finevent/new">Financial event</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title" th:text="'Categories'">Categories</h1>
          </div>
          <div class="panel-body">
            <div class="table-responsive" th:if="${not #lists.isEmpty(categories)}">
              <table id="recipes" class="table table-hover table-bordered table-sm">
                <thead class="thead-light">                
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="category:${categories}">
                    <td th:text="${category.id}">Id</td>
                    <td th:text="${category.name}">Name</td>
                    <td th:text="${category.categoryType}">Type</td>
                    <td><a href="#" th:href="@{'/category/' + ${category.id} + '/show'}">View</a>
                        <a href="#" th:href="@{'/category/' + ${category.id} + '/edit'}">Edit</a>
                        <a href="#" th:href="@{'/category/' + ${category.id} + '/delete'}">Delete</a>
                    </td>
                                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"  th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>