<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
        
    <title>My Recipes</title>
</head>

<body>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Home</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
        <li class="nav-item"><a href="/items" class="nav-link">Items</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
        <li class="nav-item"><a href="/expense/new" class="nav-link">New</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/expense/new">Expense</a>
            <a class="dropdown-item" href="/income/new">Income</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/finevent/new">Financial event</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

    <form th:object="${expense}" th:action="@{/expense/}" method="POST">
      <input type="hidden" th:field="*{id}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="example-date-input" th:text="'Current Date: ' + ${currentDate}">Date</label>
            <input class="form-control form-control-sm" type="date" th:type="date" th:value="${#temporals.format(expense.operDate, dateFormat)}" id="date-input" th:name="operDate" onchange="this.form.submit()"> <!-- th:field="*{operDate}"  -->        
          </div>      
          <div class="form-group col-md-6">
            <label for="user-input" class="col-sm-2 col-form-label col-form-label-sm">User</label>
            <select class="form-control form-control-sm" name="user" id="user-input" th:field="*{user}">
              <option value=""> -- </option>
              <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"/>
            </select>                                
          </div> 
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="item-input">Item</label>               
            <select class="form-control form-control-sm" name="item" id="item-input" th:field="*{item}">
              <option value=""> -- </option>
              <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.name}"/>
            </select>                
          </div>              
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="count" th:text="${'count: ' + expense.count}">Count</label>
            <input class="form-control form-control-sm" type="text" id="count" th:field="*{count}"><!-- th:value="${#numbers.formatDecimal(expense.count, 1, 3, 'DEFAULT')}" -->        
          </div>              
          <div class="form-group col-md-4">
            <label for="price">Price</label>
            <input class="form-control form-control-sm" type="text" id="price" th:field="*{price}">        
          </div>              
          <div class="form-group col-md-4">
            <label for="total">Total</label>
            <input class="form-control form-control-sm" type="text" id="total" readonly>        
          </div>                  
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="comment-input">Comment</label>
            <input class="form-control form-control-sm" type="text" id="comment-input" th:field="*{comment}">        
          </div>              
        </div>        
        <button id="submitBtn" type="submit" class="btn btn-primary" name="submitBtn" value="submitBtn">Submit</button>
      </form>

      </div>

      <div class="col-md-8">Test test test</div>
    </div>
  </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}"></script>
    <script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <script>
      $(document).ready(function($) {
      //this calculates values automatically 
    
        $("#count, #price").on("keydown keyup", function() {
          sum();
        });
      });

      function sum() {
        var count = document.getElementById('count').value;
        var price = document.getElementById('price').value;
			  var total = parseInt(count) * parseInt(price);
			  if (!isNaN(total)) {
          document.getElementById('total').value = total;
        }
      }      
    </script>
  </body>
</html>
